@page
@model RazorPagesMovie.Pages.Project.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].RequiredSpecializations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].AssignedTechnicians)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].PostulatedTechnicians)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredSpecializations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedTechnicians)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostulatedTechnicians)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
