@page
@model RazorPagesMovie.Areas.Identity.Pages.Technicians.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].WorkedHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].ActiveProjects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].PastProjects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].NormalizedUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].NormalizedEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].SecurityStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].ConcurrencyStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].PhoneNumberConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].TwoFactorEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].LockoutEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].LockoutEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician[0].AccessFailedCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Technician) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkedHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveProjects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PastProjects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
